<footer>
    <div class="container-footer container">
        <div class="social-icons">
            <ul>
                <li><a href="https://www.instagram.com/reggaetonparegrup/" target="_blank" aria-label="Instagram"><i
                            class="fa-brands fa-square-instagram"></i></a>
                </li>
                <li><a href="https://twitter.com/reggaetonpare" target="_blank" aria-label="Twitter"><i class="fa-brands fa-square-x-twitter" ></i></a></li>
                <li><a href="https://open.spotify.com/artist/6BJTH2qtPfbIK0VMZNcQDj" target="_blank" aria-label="Spotify"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.youtube.com/@reggaetonpare6352/videos" target="_blank" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>

        </div>
        <div class="div-logo-footer">
            <img src="images/logo.png" alt="REGGAETONPARE" width="297">
        </div>
    </div>
</footer>