<footer>
    <div class="container-footer container">
        <div class="social-icons">
            <ul>
                <li><a href="https://www.instagram.com/reggaetonparegrup/" target="_blank"><i
                            class="fa-brands fa-square-instagram" aria-label="Instagram"></i></a>
                </li>
                <li><a href="https://twitter.com/reggaetonpare" target="_blank"><i class="fa-brands fa-square-x-twitter" aria-label="Twitter"></i></a></li>
                <li><a href="https://open.spotify.com/artist/6BJTH2qtPfbIK0VMZNcQDj" target="_blank"><i class="fa-brands fa-spotify" aria-label="Spotify"></i></a></li>
                <li><a href="https://www.youtube.com/@reggaetonpare6352/videos" target="_blank"><i class="fa-brands fa-youtube" aria-label="YouTube"></i></a></li>
            </ul>

        </div>
        <div class="div-logo-footer">
            <img src="images/logo.png" alt="REGGAETONPARE">
        </div>
    </div>
</footer>