<header>
    <div class="container-nav container">
        <div>
            <a href="/"><img src="images/logo.png" alt="REGGAETONPARE"></a>
        </div>
        <div class="desktop-nav">
            <nav>
                <ul>
                    <li><a href="/">INICI</a></li>
                    <li><a href="presentacio.html">QUI SOM?</a></li>
                    <li><a href="discografia.html">DISCOGRAFIA</a></li>
                    <li><a href="noticies.html">NOTICIES</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-nav">
            <div class="nav-btn">
                <button type="button" class="menu"><i class="nav-btn fa-solid fa-bars" onclick="
                            var menu = document.getElementById('mobile-menu');
                            menu.classList.toggle('d-none');"></i></button>
            </div>
            <nav id="mobile-menu" class="d-none">
                <ul>
                    <li><a href="/">INICI</a></li>
                    <li><a href="presentacio.html">QUI SOM?</a></li>
                    <li><a href="discografia.html">DISCOGRAFIA</a></li>
                    <li><a href="noticies.html">NOTICIES</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>