<header>
    <div class="container-nav container">
        <div>
            <img src="images/logo.png" alt="REGGAETONPARE">
        </div>
        <div class="desktop-nav">
            <nav>
                <ul>
                    <li><a href="">INICI</a></li>
                    <li><a href="">QUI SOM?</a></li>
                    <li><a href="">DISCOGRAFIA</a></li>
                    <li><a href="">NOTICIES</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-nav">
            <div class="nav-btn" onclick="toggleMenu()">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <nav id="mobile-menu">
                <ul>
                    <li><a href="">INICI</a></li>
                    <li><a href="">QUI SOM?</a></li>
                    <li><a href="">DISCOGRAFIA</a></li>
                    <li><a href="">NOTICIES</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
