<div>
  <if condition="album_img_name">
    <div class="header-image">
      <picture>
        <source
          class="ratio-square"
          media="(max-width: 450px)"
          srcset="images/{{album_img_name}}.png?as=webp&width=450"
          width="450"
          height="450"
        />
        <source
          class="ratio-square"
          media="(max-width: 699px)"
          srcset="images/{{album_img_name}}.png?as=webp"
          width="699"
          height="699"
        />
        <source
          class="ratio-h"
          media="(min-width: 700px)"
          srcset="images/{{album_img_name}}-h.jpg?as=webp"
          width="1920"
          height="300"
        />
        <img
          class="ratio-h"
          src="images/{{album_img_name}}-h.jpg?as=webp"
          alt="{{album}}"
          width="1920"
          height="300"
        />
      </picture>
    </div>
  </if>
  <div class="container">
    <div>
      <h1 class="text-center">{{name}}</h1>
    </div>
    <div class="trak">
      <div>
        <div class="embed-iframe" data-uri="{{url_embed_spotify}}">
          <div class="facade">
            <p>{{name}}</p>
            <i class="fa-regular fa-circle-play"></i>
          </div>
        </div>
        <p><strong>Disc: </strong>{{album}}</p>
        <p><strong>Any: </strong>{{year}}</p>
        <div class="tags">
          <if condition="tags">
            <each loop="tag, index in tags">
              <img
                src="images/tags/{{tag}}.png?width=45"
                alt="{{tag}}"
                width="45"
                height="45"
              />
            </each>
          </if>
        </div>
      </div>
      <div>
        <p>{{{lyrics}}}</p>
      </div>
    </div>
    <div class="py">
      <if condition="url_embed_yt">
        <lite-youtube videoid="{{url_embed_yt}}"></lite-youtube>
      </if>
    </div>
    <if condition="related">
      <div class="py">
        <h2>Altres cançons:</h2>
        <ul>
          <each loop="item, index in related">
            <li><a href="{{item.link}}">{{item.name}}</a></li>
          </each>
        </ul>
      </div>
    </if>
  </div>
</div>
