nav{    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    background-color: $bg-nav;
    div{
        display: inline-block;
    }
    ul{
        li{
            display: inline-block;
            a{
            
                padding: 0 20px;
                text-decoration: none;
            }
        }
    }
}

