$breakepoint: 800px;

.container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  div{
    padding: 25px 0;
  }
}

@media only screen and (min-width: $breakepoint) {
  .container {
    max-width: 78%;
    margin: 0 auto;

  }
}

.d-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
