@import "_responsive";
@import "_colors";
@import "_nav";
@import "_footer";
@import "_buttons";

//Fonts
@import "https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap";

@font-face {
  font-family: "Inter";
  src: "https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap";
}

//Global
body {
  margin: 0;
  font-family: "Inter";
}

.text-center {
  text-align: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.yt-video {
  width: 100%;
  aspect-ratio: 16/9;
}

//Home
.home-songs {
  iframe {
    margin: 0 auto;
  }
}

.pre-footer {
  margin-top: 25px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255) 0%,
      rgba(0, 173, 11, 0) 30%
    ),
    url("../images/image-group.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  min-height: 300px;
}

@media only screen and (min-width: $breakepoint) {
  .pre-footer {
    min-height: 800px;
  }
}

//Qui som?
.presentacio {
  max-width: 600px;
}

.integrants {
  padding: 0;
  text-align: center;
  li {
    line-height: 2;
    list-style: none;
  }
}

//Discografia
.info-disc {
  display: flex;
  flex-direction: column;
  text
  img{
    width: 100%;
    height: auto;
  }
}

.text-disc {
  padding: 0 !important;
  margin-left: 15px;
  h3 {
    margin-top: 5px;
  }
  li {
    line-height: 1.75;
  }
}

@media only screen and (min-width: ($breakepoint * 2 )) {
  .info-disc {
    flex-direction: row;
    img{
      max-width: 300px;
    }
  }
}
