@import "_responsive";
@import "_colors";
@import "_nav";
@import "_footer";
@import "_buttons";
@import "_headings";

//Fonts
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap";

@font-face {
  font-family: "Inter";
  src: "https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap";
}

//Global
body {
  margin: 0;
  font-family: "Inter";
}

iframe {
  border: none;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.py {
  padding-top: 20px;
  padding-bottom: 20px;
}

.yt-video {
  width: 100%;
  aspect-ratio: 16/9;
}

//Home

.embed-iframe{
  cursor: pointer;
  height: 232px;
  .facade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    &:hover{
      background: #414141;
    }
    p, i{
      pointer-events: fill;
      padding: 10px;
      text-align: center;
      font-size: xx-large;
      color: $primary;
      margin: 0;
    }
  }
}

.pre-footer {
  margin-top: 25px;
  clip-path: ellipse(100% 100% at 50% 100%);
  background: url("../images/image-group.png?as=webp");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  min-height: 300px;
}

@media only screen and (min-width: $breakepoint) {
  .pre-footer {
    min-height: 800px;
  }
}

//Qui som?

@keyframes goIn {
  80%  {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colors {
  0%{
    fill: red;
  } 
  33%{
    fill: green;
  }
  66%{
    fill: blue;
  }
}

.logo-animated{
  svg{
    path{
      animation: colors 2s infinite;
      &:active{
        animation: none;
      }
    }
  }
  animation: goIn 1s; 
  padding-bottom: 25px;
}



.eslogan {
  font-weight: bold;
  text-transform: uppercase;
}

.presentacio {
  max-width: 600px;
}

.integrants {
  padding: 0;
  text-align: center;
  li {
    line-height: 2;
    list-style: none;
  }
}

//Discografia
.info-disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.text-disc {
  margin-left: 15px;
  h3 {
    margin-top: 5px;
  }
  li {
    line-height: 1.75;
  }
}

@media only screen and (min-width: ($breakepoint)) {
  .info-disc {
    flex-direction: row;
  }
}

//Trak
.header-image {
  img {
    width: 100%;
  }
}

.trak {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  div {
    margin: 10px;
  }
}

.tags {
  display: flex;
  padding-top: 20px;
  img {
    margin-right: 20px;
    width: 45px;
  }
}

//notices
.notice {
  text-align: center;
  background-color: $dark;
  border-radius: 20px;
  padding: 25px 25px;
  img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
    color: $primary;
  }
  .title {
    font-size: 22px;
  }
  .date {
    font-size: 75%;
    margin-top: 0px;
    text-align: right;
  }
}
